<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>api--contact</title>
  </head>
  <body>
    <div id="app">
      <section v-if="loading">Loading....</section>
      <section v-else>
        <input type="text" v-model.trim="input.name" />
        <input type="text" v-model.trim="input.email" />
        <button @click="submitHandler">submit</button>
        <ol>
          <li v-for="(item, index) in contacts">
            <span>{{ item.name }} - {{ item.email }}</span
            ><button @click="editHandler(index)">修改</button
            ><button @click="deleteHandler(index)">刪除</button>
          </li>
        </ol>
      </section>
    </div>
  </body>
</html>
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.js"></script>
<script>
  ;(function (Vue) {
    new Vue({
      el: "#app",
      data: {
        loading: false,
        contacts: [],
        editIndex: null,
        input: {
          name: "",
          email: "",
        },
      },
      mounted() {
        this.loading = true
        axios
          .get("http://localhost:3001/contact")
          .then((response) => {
            console.log(response)
            this.contacts = response.data
            this.loading = false
          })
          .catch((error) => {
            console.log(error)
          })
      },
      methods: {
        submitHandler() {
          let { name, email } = this.input
          if (!name || !email) {
            alert("請輸入姓名和電子郵件")
            return
          }
          if (this.editIndex === null) {
            this.loading = true
            axios
              .post("http://localhost:3001/contact", this.input)
              .then((response) => {
                this.contacts.push(response.data)
                this.loading = false
              })
              .catch((error) => {
                console.log(error)
              })
          } else {
            axios
              .put(
                `http://localhost:3001/contact/${
                  this.contacts[this.editIndex].id
                }`,
                this.input
              )
              .then((response) => {
                this.contacts[this.editIndex] = response.data
                this.loading = false
              })
              .catch((error) => {
                console.log(error)
              })
          }
          resetHandler()
        },
        resetHandler() {
          this.editIndex = null
          this.input = {
            name: "",
            email: "",
          }
        },
        deleteHandler(index) {
          this.loading = true
          let target = this.contacts[index]
          if (confirm(`是否刪除 ${target.name}`)) {
            axios
              .delete(`http://localhost:3001/contact/${target.id}`)
              .then((response) => {
                this.contacts.splice(index, 1)
                this.loading = false
              })
              .catch((error) => {
                console.log(error)
              })
          } else {
            this.loading = false
          }
        },
        editHandler(index) {
          let { name, email } = this.contacts[index]
          this.input = {
            name,
            email,
          }
          this.editIndex = index
        },
      },
    })
  })(Vue)
</script>
