<!-- 資料變動監測 -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <div>
        number: {{ number }} <button @click="number++">number++</button>
      </div>
      <hr />
      <div>
        obj.num: {{ obj.num }} <button @click="obj.num++">obj.num++</button>
      </div>
      <hr />
      <div>
        objList:
        <div v-for="(item, index) in objList">
          {{ item.num }}
          <button @click="objListHandler(index)">item.num++</button>
        </div>
      </div>
      <hr />
      <div>
        numberList:
        <div v-for="(number, index) in numberList">
          {{ number }}
          <button @click="numberListHandler(index)">number++</button>
        </div>
      </div>
    </div>
  </body>
</html>
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
<script src="/js/watch.js"></script>
